@model SalesWebMvc.Models.Department

@using SalesWebMvc.Models.Enums

@{
    Object attributes = null;

    if (ViewData["acao"].Equals(EnumStatusAcoes.DETAILS) || ViewData["acao"].Equals(EnumStatusAcoes.DELETE))
    {
        attributes = new
        {
            @class = "form-control",
            @readonly = "@readonly"
        };
    }
    else
    {
        attributes = new
        {
            @class = "form-control",
            //@required = "required",
        };
    }
}

<br />
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="container-fluid">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form asp-action="@ViewData["acaoForm"]" class="form-group">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" asp-for="Id" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label for="@nameof(Model.Name)" class="control-label"></label>

                                @Html.TextBoxFor(item => item.Name, attributes)

                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (ViewData["acao"].Equals(EnumStatusAcoes.EDIT))
                    {
                        <button type="submit" class="btn btn-warning" style="text-align:center">
                            <div class="row">
                                <div class="col">Save</div>
                                <div class="col"><i class="material-icons">save</i></div>
                            </div>
                        </button>
                    }
                    else if (ViewData["acao"].Equals(EnumStatusAcoes.DELETE))
                    {
                        <button type="submit" class="btn btn-warning" style="text-align:center">
                            <div class="row">
                                <div class="col">Delete</div>
                                <div class="col"><span class="material-icons">delete_forever</span></div>
                            </div>
                        </button>
                    }
                    else if (ViewData["acao"].Equals(EnumStatusAcoes.CREATE))
                    {
                        <button type="submit" class="btn btn-warning" style="text-align:center">
                            <div class="row">
                                <div class="col">Register</div>
                                <div class="col"><i class="material-icons">save</i></div>
                            </div>
                        </button>
                    }
                </div>
            </form>

        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}