@model IEnumerable<SalesWebMvc.Models.Department>

<div class="card">
    <div class="card-header text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <div>
            <div class="div-table-scroll-padrao">
                <table class="table table-hover table-striped" style="text-align:center">
                    <thead class="bg-dark" style="color:azure">
                        <tr>
                            <th class="coluna-descricao-departamento">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="coluna-btn-acoes"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="td-simple-line coluna-descricao-departamento">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="td-simple-line coluna-btn-acoes">
                                    <button type="button" data-value="@item.Id" 
                                            data-controller="Departments" data-acao="@EnumStatusAcoes.EDIT" class="btn btn-warning btn-crud btn-crud-table">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" data-value="@item.Id" 
                                            data-controller="Departments" data-acao="@EnumStatusAcoes.DELETE" class="btn btn-danger btn-crud btn-crud-table" >
                                        <span class="material-icons">delete_forever</span>
                                    </button>
                                    <button type="button"  data-value="@item.Id" 
                                            data-controller="Departments" data-acao="@EnumStatusAcoes.DETAILS" class="btn btn-primary btn-crud btn-crud-table">
                                        <span class="material-icons">visibility</span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <p>
            <button type="button" data-acao="@EnumStatusAcoes.CREATE" 
                    data-controller="Departments" class="btn btn-primary btn-crud">Create</button>
        </p>
    </div>
</div>



<div class="modal fade" id="modalAcoes" tabindex="-1" role="dialog" aria-labelledby="modalAcoes" aria-hidden="true">

</div>

@section Scripts {
    <script src="~/js/Departments/index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Department//Index.css" />
}
